p {
  color: white;
  font-family: "Cascadia Code", monospace;
}

h1 {
  color: white;
  font-family: "Cascadia Code", monospace;
}

h2 {
  color: white;
  font-family: "Cascadia Code", monospace;
}

.clamp-width {
  max-width: 33vw;
}

.horizontal-stack {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  align-items: center;
}

.vertical-stack {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 10px;
}

.project-tuple {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.project-name {
  width: 200px;
  text-align: right;
}
.project-description {
  width: 200px;
  color: lightgray;
}



.logo {
  width: 30px;
  height: 30px;
}

.text {
  color: white;
  font-family: "Cascadia Code", monospace;
}

.prompt {
  color: lightslategray;
}

.menu-text {
  color: lightgray;
  text-decoration: none;
  font-size: 80%;
}

