<router-outlet></router-outlet>

<!--<app-gravity-slider></app-gravity-slider>-->
<!--<app-x86-loop></app-x86-loop>-->

<app-cluster-container>
  <a class="text" href="https://rroll.to/3VuDja">Gamble</a>
  <a class="text" href="https://github.com/chinosu">GitHub</a>
  <a href="https://chinosu.github.io/chronos/">
    <img ngSrc="assets/logo-black.png" alt="My Logo" height="442" width="440" class="logo">
  </a>
  <a class="text" href="https://discordapp.com/users/611856491506434068">Discord</a>
  <a class="text" href="https://archlinux.org">Wiki</a>
</app-cluster-container>

<div class="side-by-side">
  <ul>
    <app-left-right>
      <p>Age</p>
      <p>19</p>
    </app-left-right>
    <app-left-right>
      <p>Degree</p>
      <p>Actl/CompSci</p>
    </app-left-right>
    <app-left-right>
      <p>Year of Study</p>
      <p>Second Year</p>
    </app-left-right>
    <app-left-right>
      <p>Personality</p>
      <p>INFJ-T</p>
    </app-left-right>
    <app-left-right>
      <p>Ethnicity</p>
      <p>Chinese</p>
    </app-left-right>
    <app-left-right>
      <p>Favourite Foods</p>
      <p>Gelato & Noodles</p>
    </app-left-right>
    <app-left-right>
      <p>Hobbies</p>
      <p>Coding & Gaming</p>
    </app-left-right>
  </ul>
  <app-cube></app-cube>
</div>

<app-phone></app-phone>
<!--deploy command: ng deploy &#45;&#45;base-href=https://chinosu.github.io/chronos/-->
