/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Cascadia Code";;
  src: url("/assets/fonts/CascadiaCode-2111/woff2/CascadiaCodePL.woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
